    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <ul id="list">
                    <h1>Contributors</h1>
                    {{range .Pages }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
